// Place all the styles related to the top-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

header {
  height: 50px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}
.time{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  transition: all 0.5s;
  position :fixed;
  margin-left: -30px;

}

 .main-content {
  width: 100%;
  height: 100%;
  background-image: image-url('3201455_m.jpg');
  background-size: cover;
  text-align: center;
}
.top-logo {
  font-size: 15px;
  height: 45px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}
.container {
  max-width:1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.top-wrapper {
  padding: 180px 0 100px 0;
  color: rgb(111, 0, 255);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
}

.btn-wrapper {
  margin: 80px 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.btn-wrapper p {
  margin: 10px 0;
  font-size: 20;
  color: coral;
}

.btn-wrapper h2 {
  margin: 10px 0;
  font-size: 20;
  color: coral;
}

.signup {
  background-color: red;
  width: 500px;
  height: 500px;
  flex-direction: column;
}

.signup a{
  color: antiquewhite;
}

.trix {
  border-radius: 0%;
  width: 100%;
  height: 400px;
  margin-top: 10px;
}

.btn-evaluate {
  background-color: #98513b;
  width: 500px;
  height: 500px;
  flex-direction: column;
  padding: 8px 24px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn-evaluate a{
  color: antiquewhite;
}
.btn-evaluate:hover {
  opacity: 1;
}

.twitter {
  width: 280px;
  background-color: #55acee;
  height: 500px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}



.fa {
  margin-right: 5px;
}

.logo {
  margin: 0px 30px;
  border-radius: 0%;
}


.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.menu-icon{
  float:right;
  color:white;
  padding:20px 0px;
  font-size:24px;
  display:none;
 }
 .header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}

.backimage{
  width: 100%;
  height: 320px;
  background-image: image-url('957319_m.jpg');
  background-size: contain;
}
.rank-main{
  width: 100%;
  height: 100%;
  padding-left: 2px;
  padding-right: 2px;
}

.rank-main h1{
  margin: 0 auto;
}
.rank-main p{
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.like-rank{
  font-size: 10px;
  text-align: center;
  margin-left: 10px;
}
.like-rank a{
  color: black;
  border-bottom: solid 1px black;
}

.sales-rank{
  background-color: blue;
  text-align: center;
}

.title-tag{
  border: solid #87CEFA;
  width:200px;
  height: 60px;
  font-size: 25px;
}
.title-category{
  border: solid #87CEFA;
  width:250px;
  height: 60px;
  font-size: 25px;
}
.title-rank{
 font-size: 20px;
 font-weight: bold;
 border-bottom: double 6px #87CEFA;
 margin: 10px;
 height: 70px;
}
.title-content{
  border: solid #87CEFA;
  width:700px;
  font-size: 30px;

}
.content-rank{
  display: inline-block;
  width: 100%;
  font-size: 15px;
  height: 150px;
  overflow: hidden;
  background-color: white;
  border-bottom: double 6px #87CEFA;
}
.like-user{
  background-color: white;
}
.user-tag{
  border: solid red;
  width:200px;
  height: 60px;
  font-size: 20px;
}
.user-content{
  border: solid red;
  width:750px;
  height: 60px;
  font-size: 30px;
}
.user-occupation{
  width: 200px;
  height: 60px;
  font-size: 20px;
  border: solid red;
}
.user-rank{
  font-size: 20px;
  font-weight: bold;
  border-bottom: double 6px red;
  margin: 10px;
  height: 30px;
 }
 .user-rank-img{
   border-radius: 0%;
 }
 .picktag{
  display: block;
  width: 100%;
  margin-top: -20px;
  font-size: 2em;
  font-weight: bold;
  color: white;
  background: red;
  text-align: center;
 }
 .profile-image{
   border-radius: 5%;
 }
 .user-comments{
  width: 750px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: double 6px red;
  margin: 10px;
  height: 30px;
  color: orange;
 }
 .user-hidden{
  width:200px;
  height: 0px;
  font-size: 20px;
}
.hidden-occupation{
  width: 200px;
  height: 0px;
  font-size: 20px;
}
.hidden-content{
  width:750px;
  height: 0px;
  font-size: 30px;
}
.loader {
  transition: opacity 2s;
}

.pace-running .loader {
  opacity: 0;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
 
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
 
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
 
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 50px;
  overflow: hidden;
}
 
.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
 
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
 
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
 
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
 
  display: block;
  position: absolute;
  right: 100%;
  margin-right: -7px;
  width: 93%;
  top: 7px;
  height: 14px;
  font-size: 20px;
  background: #29d;
  color: #29d;
  line-height: 60px;
  font-weight: bold;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
 
  -webkit-box-shadow: 120px 0 #fff, 240px 0 #fff;
  -ms-box-shadow: 120px 0 #fff, 240px 0 #fff;
  box-shadow: 120px 0 #fff, 240px 0 #fff;
}
 
.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: inline-block;
  position: fixed;
  width: 45px;
  text-align: right;
  right: 0;
  padding-right: 16px;
  top: 4px;
}
 

 
.pace .pace-activity {
  position: absolute;
  width: 100%;
  height: 28px;
  z-index: 2001;
  box-shadow: inset 0 0 0 2px #29d, inset 0 0 0 7px #FFF;
  border-radius: 10px;
}
 
.pace.pace-inactive {
  display: none;
}
.mail{
  width: 50px;
  height: 30px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 20px 30px; 
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 15px; 
  background-color: #87CEFA; 
  color: #FFF; 
  cursor: pointer; 
  border-radius: 10px; 
  border: 0; 
  transition: 0.3s; 
}
.mail:hover{
 background-color: red;
}
.rank-danger{
  width: 140px;
  height: 60px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 10px; 
  margin-top: 30px;
  margin-left:10px;
  margin-bottom: 20px;
  font-size: 15px; 
  font-weight: bold;
  background-color: red; 
  color: #FFF; 
  cursor: pointer; 
  border-radius: 10px; 
  border: 0; 
  transition: 0.3s; 
}
.rank-danger:hover{
  background-color: blue;
}
.rank-primary{
  width: 140px;
  height: 60px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 10px; 
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 15px; 
  font-weight: bold;
  background-color: #1af0ff; 
  color: #FFF; 
  cursor: pointer; 
  border-radius: 10px; 
  border: 0; 
  transition: 0.3s; 
}
.rank-primary:hover{
 background-color: blue;
}