// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  border-radius: 0%;
}

h1 {
  color: white;
  background: #0093D0;
  text-align: center;
}

h2 {
  border-left: solid 5px #0093D0;
  padding-left: 10px;
}

.user-total {
  width: 1700px;
  height: 1700px;
  margin-top: 50px;
  padding: 30px 30px;
  background-color: white;
  position: relative;
}
input[type=radio] {
  display: none; /* ラジオボタンを非表示にする */
  }
input[type="radio"]:checked + label{
  background:blue;/* マウス選択時の背景色を指定する */
  color: #ffffff; /* マウス選択時のフォント色を指定する */
    }
.profile-details {
  width: 600px;
  height: 700px;
  position: absolute;
  top: 50px;
  right: 500px;
  font-size: 20px;

}

.contents-row {
  width: 550px;
  height: 2000px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 110px;
}

.name {
  border-bottom: 2px double mediumblue;
  color: mediumblue;
  font-size: 25px;
}

.user-contents {
  font-size: 15px;
  height: 150px;
  overflow: hidden;
}

.user-a {
  color:mediumblue;
}
.user-posts-all{
  width: 550px;
  margin-top: 50px;
}
.loader {
  transition: opacity 2s;
}

.pace-running .loader {
  opacity: 0;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
 
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
 
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
 
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 50px;
  overflow: hidden;
}
 
.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
 
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
 
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
 
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
 
  display: block;
  position: absolute;
  right: 100%;
  margin-right: -7px;
  width: 93%;
  top: 7px;
  height: 14px;
  font-size: 20px;
  background: #29d;
  color: #29d;
  line-height: 60px;
  font-weight: bold;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
 
  -webkit-box-shadow: 120px 0 #fff, 240px 0 #fff;
  -ms-box-shadow: 120px 0 #fff, 240px 0 #fff;
  box-shadow: 120px 0 #fff, 240px 0 #fff;
}
 
.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: inline-block;
  position: fixed;
  width: 45px;
  text-align: right;
  right: 0;
  padding-right: 16px;
  top: 4px;
}
 

 
.pace .pace-activity {
  position: absolute;
  width: 100%;
  height: 28px;
  z-index: 2001;
  box-shadow: inset 0 0 0 2px #29d, inset 0 0 0 7px #FFF;
  border-radius: 10px;
}
 
.pace.pace-inactive {
  display: none;
}
.dm{
  width: 280px;
  height: 100px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 20px 30px; 
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 25px; 
  background-color: rgb(16, 214, 82); 
  color: #FFF; 
  cursor: pointer; 
  border-radius: 10px; 
  border: 0; 
  transition: 0.3s; 
}
.btn-danger{
  width: 280px;
  height: 60px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 30px; 
  margin-top: 30px;
  margin-left:10px;
  margin-bottom: 20px;
  font-size: 25px; 
  background-color: red; 
  color: #FFF; 
  cursor: pointer; 
  border-radius: 10px; 
  border: 0; 
  transition: 0.3s; 
}
.btn-danger:hover {
  background-color: #064fda; 
  }

.btn-primary{
  width: 280px;
  height: 60px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 30px; 
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 25px; 
  background-color: #1af0ff; 
  color: #FFF; 
  cursor: pointer; 
  border-radius: 10px; 
  border: 0; 
  transition: 0.3s; 
}
.btn-primary:hover {
  background-color: #064fda; 
  }
.dm:hover {
background-color: #064fda; 
}
.sm{
  margin-top: 40px;
  height: 100px;
  margin-bottom: 50px;
}
.sms{
  width: 280px;
  height: 80px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 20px 30px; 
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 170px;
  font-size: 25px; 
  background-color: purple; 
  color: #FFF; 
  cursor: pointer; 
  border-radius: 10px; 
  border: 0; 
  transition: 0.3s; 
}
.sms:hover {
  background-color: #064fda; 
  }
